.btn-outline-warning{
    color: white;
    border-color: navy;
}

.navbar{
    background-color: navy;
}

.btn-outline-warning:hover{
    background-color: navy;
    color: white;
    border-color: white;
}

.btn-outline-warning:active{
  background-color: navy;
  color: white;
  border-color: white;
}

.navbar-brand{
  font-size: 20px;
}

.nav-link{
  font-size: 16px;
}

.nav-link2{
  font-size: 16px;
}

body{ 
    background-color: whitesmoke;
}
img.logo{
    margin-top: -4px;
    height: 30px;
    width: 50px;
}


html{
  margin: 0;
}

div.Title-Bar{
    position: relative;
    text-align: center;
}
img.top{
    display: block;
    width: 100%;
    height: 500px;


}

h2.Title{
    position: absolute;
    font-size: 9vw;
    text-align: center;
    -webkit-text-stroke: 4px white;
    color: navy;
    text-shadow:
       2px 2px 0 #FFFFFF,
     -1px -1px 0 #FFFFFF,
      1px -1px 0 #FFFFFF,
      -1px 1px 0 #FFFFFF,
       1px 1px 0 #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.Main-Content{
    width: 100%;
    height: 80%;
    background-color: WhiteSmoke;
    

}
h2.content-greeting{
    text-align: center;
    font-size: 2.25vw;
    margin-left: 15vw;
    margin-right:15vw;
    margin-bottom: 10px;
    padding-top: 20px;


}
h2.content-description{
    text-align: center;
    font-size: 1.5vw;
    margin-left: 15vw;
    margin-right:15vw;
    margin-bottom: 10px;




}
div.Info{
    width: 30%;
    height: 80%;
    font-size: 2vw;
    text-align: center;
    float: right;
    margin-right: 7vw;
    margin-bottom: 40px;





}
h2.info-description{
    font-size: 2vw;
    margin-top: 60px;
    text-align: center;
    color: navy;
}
h2.Phone{
    margin-top: 20px;
    font-size:1.5vw;
    color: black;
}

h2.Hours{
    font-size: .9vw;
    margin-bottom: 20px;
    color: black;
}

h2.Email{
    font-size: 1.4vw;
    margin-bottom: 30px;
    color: black;
}

h2.info-message{
    font-size: 1.8vw;
    color: navy;
}

div.Form-Container{
    width: 50%;
    height: 80%;
    float: left;
    margin-left: 7vw;
    color: black;
    margin-bottom: 40px;



}
div.form-description{
    margin: 0 auto;
    margin-top: 30px;

}
.alert-success{
    margin: auto;
    text-align: center;
    padding:5px;
    background-color: green;
    color: white;
    margin-top: 15px;
    display: none;
}
.alert-fail{
    margin: auto;
    text-align: center;
    padding:5px;
    background-color: purple;
    color: white;
    margin-top: 15px;
    display: none;
}

div.Form{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 60px;

}

a{
  color: navy;
}

a:hover{
  color: navy;
}


@media only screen and (max-width: 1200px){
  body{
    width: 100%;
  }
  h2.content-greeting{
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size:40px;
    padding-top: 35px;
  }
  
  h2.content-description{
    font-size: 30px;
    padding:0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .navbar-brand{
    padding-left: 70px;
  }

  .nav-link{
    margin-left: 0px;
  }

  .nav-link2{
    margin-left: 20px;

  }
  div.Info{
    float: none;
    text-align: center;
    margin-right: 0px;
    margin-left: 33%;
  }

  h2.info-description{
    text-align: center;
    font-size: 40px;
    margin-left: 0px;
    margin-right: 0px;
  }

  div.form{
    float: none;
  }
  
  h2.Phone{
    text-align: center;
    font-size: 40px;
  }

  h2.Hours{
    font-size: 40px;
    padding-top: 25px;
  }

  h2.Email{
    margin-right: 0px;
    font-size: 40px;
    margin-top: -27px;
  }

  a{
    font-size: 30px;
    margin-left: -70px;
  }

  h2.info-message{
    display: none;
  }

  div.Form{
    margin-top: -45px;
  }
  div.Form-Container{
    margin-left: 23%;
    margin-bottom: 0px;
  }

  div.form-description{
    padding-top:0px;
  }
}
