.gallery-img {
  width: 400px;
  height: 300px;
  padding: 5px;
}

.gallery-img:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}


.img-container {
  width: 500px;
  height: 500px;
  padding-top: 30px;
  margin: auto;
}

.images-container {
  padding-top: 20px;
  width: 90%;
  margin: auto; !important;
}

.large-img {
  height: 500px;
}