.btn-outline-warning{
    color: white;
    border-color: navy;
}

.navbar{
    background-color: navy;
}

.btn-outline-warning:hover{
    background-color: navy;
    color: white;
    border-color: white;
}

div.background-jumb {
    max-width: 100%;
    margin:auto;
    height: 175px;
    padding-top: 3vh;
    position: relative;
    background-color:navy;

    

}

.navbar-brand{
  font-size: 20px;
}

.nav-link{
  font-size: 16px;
}
img.logo{
    margin-top: -60px;
    height: 30px;
    width: 50px;
}

body{
    background-image: url(../images/house4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.first{
    background-color: rgb(0,0,155,.8);
    width: 45%;
    margin: auto;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
    height: 300px;
    padding-top: 30px;

}

h1{
    color: white;
    text-decoration: underline;
}

h2{
    color: white;
    text-decoration: none;
}

li{
    color: white;
    font-size: 20px;
}

@media only screen and (max-width: 1200px){
  div.first{
    width: 55%;
    height: 350px;
  }

  li{
    font-size: 30px;
  }
}
